/* Global Styles */
* {
    margin: 0;
    padding:2px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
   
}

html, body {
    height: 100%; /* Ensures the body covers the entire screen */
}

body {
 
    color: #333;
    line-height: 1.6;
    background-image: url('love.avif');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Ensures the background covers the full height of the viewport */
    overflow: hidden; /* Prevents overflow scroll */
}

.navbar {
    background-color:royalblue;
    overflow: hidden;
    padding:3px;
}
.navbar .logo {
    float: left;
    color: white;
    font-size: 24px;
    padding: 14px;

}

.navbar nav {
    float: right;
}

.navbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    display: inline;
}

.navbar nav ul li a {
    color: white;
    font-size:25px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

.navbar nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

/* About Section */
.about-section {
    flex: 1;
    display: flex;
    align-items: center;  /* Centers content vertically */
    justify-content: center;  /* Centers content horizontally */
    background-color: #fff;
    padding: 2em 0;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.about-section h1,
.about-section h2 {
    color: #333;
    margin-bottom: 1em;
    font-size:25px;
    font-weight: bold;
}

.about-section p {
    margin-bottom: 2em;
    font-size:23px;
 
}

.about-section ul {
    list-style-type: none;
    font-size:25px;
    padding: 0;
}

.about-section ul li {
    background-color: #f4f4f4;
    padding: 15px;
    margin: 10px 0;
    border-left: 4px solid #333;
    text-align: left;
    font-size:23px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

footer p {
    margin: 0;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 10px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}
